@charset "UTF-8";

/* リンクのアンダーバーを無くす設定 */
a {
  text-decoration: none;
}

/* 画像をブロックの幅以上大きくならないよう設定 */
img {
  max-width: 100%;
}

/* リストの・を付与しないよう設定 */
li {
  list-style: none;
}

/* コンテンツを中央に配置する用 */
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
header-1 参考：https://code-step.com/profile-menu/
-------------------------------------------*/
#header-1 {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #ddffff;
}
#header-1 h1 a img {
  height: 30px;
  vertical-align: middle;
}
#header-1 ul {
  display: flex;
  padding: 10px 0;
}
#header-1 li {
  margin-left: 30px;
}
#header-1 li a {
  color: #24292e;
}
#header-1 li a:hover {
  opacity: 0.7;
}
/*-------------------------------------------
  【メモ】
  [displayプロパティ]　⇒　子要素のレイアウトを指定
  ・flex：子要素を横並び

  [justify-contentプロパティ] ⇒　flexboxアイテムの横並び配置
  ・space-between：子要素を余白をもって等間隔に配置

  [align-itemsプロパティ]　⇒　flexboxアイテムの縦軸の配置
  ・center：子要素を上下中央に配置
  -------------------------------------------*/

/*-------------------------------------------
header-2
-------------------------------------------*/
